main{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75%;
    h4{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
    p{
        margin: 1px 0;
    }
    #education{
        max-width: 20vw;
        .educat_block{
            padding: 7px 0;
        }
        #experience{
            max-width: 40vw;
            h4{
             margin: 16px 0 12px 0;
            }
            #tools{
                display: grid;
                grid-template-columns: 15vw 15vw;
                row-gap: 4px;
            }
            a{
                display: block;
                padding: 5px 0;
            }
        }
    }
}